header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0; */
  /* margin-top: 1vh; */
  padding-bottom: 10px;
  padding-top: 10px;

  height: 7vh;

  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.yarn {
  margin: 0;
  height: 40px;
  width: 40px;
}

.main-heading {
  margin: auto;
  font-size: clamp(16px, 6vw, 40px);
}
