* {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: green;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  padding: 1px 2px 1px 2px;
  background-color: white;
}

input {
  display: flex;
  flex-grow: inherit;
  border: none;
  background: transparent;
}

.search-button {
  background: transparent;
  border: none;
}

.search-img {
  width: 25px;
}

.today {
  display: flex;
  flex-direction: column;
}

.weather-icon {
  width: 90px;
  height: 90px;
}
.tempToday {
  display: flex;
  flex-direction: row;
}

.main-display {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}
