* {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.yarn {
  margin: 0;
  height: 40px;
  width: 40px;
}

.main-heading {
  margin: 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

input,
button {
  margin: 2px;
  border-radius: 5px;
  border: 1px solid;
}

.today {
  display: flex;
  flex-direction: column;
}

.weather-icon {
  width: 300px;
  height: 300px;
}
.tempToday {
  display: flex;
  flex-direction: row;
}

.yesterday {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colour-circle {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.colour-list {
  height: 500px;
  width: 100%;
  flex: 50%;
}

.each-color {
  display: flex;
}
