* {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

input,
button {
  margin: 2px;
  border-radius: 5px;
  border: 1px solid;
}

.today {
  display: flex;
  flex-direction: column;
}

.weather-icon {
  width: 90px;
  height: 90px;
}
.tempToday {
  display: flex;
  flex-direction: row;
}
