@font-face {
  font-family: Pantone;
  src: url(//db.onlinewebfonts.com/t/19f8d00e507858a750cc961c7e45562c.woff);
}

.yesterday-card {
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: antiquewhite;
  border-radius: 5px;
}
.colour-box {
  background-color: green;
  width: 60px;
  height: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-name,
.card-color,
.links {
  padding: 0;
  text-align: left;
  margin: 0;
}
.card-name,
.card-color {
  font-size: smaller;
  padding-top: 2px;
}

.thread,
.yarn,
a {
  font-size: xx-small;
  list-style-type: none;
  margin: 0;
  padding: 1px;
}

.card-name {
  font-weight: bold;
  padding-top: 4px;
}
