@font-face {
  font-family: Pantone;
  src: url(//db.onlinewebfonts.com/t/19f8d00e507858a750cc961c7e45562c.woff);
}

.yesterday-card {
  /* width: auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.colour-box {
  background-color: green;
  width: 60px;
  height: 60px;
  margin: 0px;
}

.card-info {
  margin: 0px;
}

.card-name {
  font-size: smaller;
}

.card-name,
.card-color,
.links {
  padding: 0;
  text-align: left;
  margin: 0;
}

.card-color {
  font-size: smaller;
  padding-top: 2px;
}

.thread,
.yarn,
a {
  font-size: xx-small;
  list-style-type: none;
  margin: 0;
  padding: 1px;
}

.card-name {
  font-weight: bold;
  padding-top: 4px;
}
